@import '../node_modules/bootstrap/scss/bootstrap.scss';

.navbar.navbar-dark.align-items-start.sidebar.sidebar-dark.accordion.bg-gradient-primary.p-0 {
  background-image: none;
  color: #38197a;
}

.navbar.navbar-dark.align-items-start.sidebar.sidebar-dark.accordion.bg-gradient-primary.p-0 {
  background-color: #141413 !important;
}

.d-change-1 {
  background-color: #141413;
  background-size: contain;
}

.d-change-2 {
  background-color: #141413;
  background-size: contain;
}

//
.home-1 {
  width: 50%;
}


.home-2 {
  width: 20%;
}


.home-3 {
  width: 40%;
}

.home-4 {
  width: 60%;
}

.home-5 {
  width: 80%;
}
